@model Models.OmgevingsBoek_Models.Boek

@{
    ViewBag.Title = "Boek aanmaken";
}


<div class="createpage">
    <h2>Boek aanmaken</h2>

    @using (Html.BeginForm("Create", "Boeken", FormMethod.Post, new { enctype = "multipart/form-data", @id= "createBoekenForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Boek</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Naam, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.Naam, new { htmlAttributes = new { @class = "form-control", required="required", minLength=3 } })
                    @Html.ValidationMessageFor(model => model.Naam, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Afbeelding, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    <input type="file" class="form-control" name="AfbeeldingFile" id="Afbeelding">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-4">
                    <button type="submit" class="btn btn-success" data-loading-text='<i class="fa fa-spinner fa-pulse">'>
                        <span class="glyphicon glyphicon-ok"></span> Boek aanmaken
                    </button>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Terug naar de homepagina", "Index", "Home")
    </div>
    <script>
        var form = $("#createBoekenForm");
        form.validate();
        $('button[type=submit]').on('click', function () {
            $this = $(this);
            if (form.valid())
            {
                var $btn = $this.button('loading');
            } 
        })
    </script>
</div>
