@model Models.OmgevingsBoek_Models.Boek

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Boek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Eigenaar.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eigenaar.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Afbeelding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Afbeelding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
