@model Models.OmgevingsBoek_Models.Activiteit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activiteit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EigenaarId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EigenaarId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            <h3>
                @Html.DisplayFor(model => model.Naam)
            </h3>
        </dd>

        <dt>
            <p>Van <span class="age">@Html.DisplayFor(model => model.MinLeeftijd)</span> tot <span class="age">@Html.DisplayFor(model => model.MaxLeeftijd)</span> jaar.</p>
        </dt>

        <dt>
            @Html.DisplayNameFor(model => model.MinDuur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinDuur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxDuur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxDuur)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prijs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prijs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AfbeeldingNaam)
        </dt>

        <dd>
            <img src="@Model.AfbeeldingNaam" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DitactischeToelichting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DitactischeToelichting)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Uitleg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uitleg)
        </dd>

    </dl>
    @foreach (Models.OmgevingsBoek_Models.Foto afb in Model.Fotos)
    {
        <img src="@afb.FotoUrl"/>
    }
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
