@model Models.OmgevingsBoek_Models.Activiteit

@{
    ViewBag.Title = "Details";
}
<script>
    Id = @Model.Id;
    IdB = ViewBag.boekId;
</script>
@section Share{
    <div class="breadcrumb" style="width: auto; margin-top: 8px; margin-bottom: 8px; height: 36px; margin-left: 5px; float: left; display: inline-block; padding: 0px;">
        <a style="padding: 0px;" href="#" data-id="@(@Model.Id)" data-type="activiteit" data-container="body" data-toggle="popover" data-placement="bottom" class="shareItem">
            <span class="glyphicon glyphicon-share" style="font-size: 1.2em; padding: 8px 9px;"></span>
        </a>
    </div>
}

<div class="alertt" style="display:none">
    <p>Zeker dat je dit boek wilt verwijderen?</p>
</div>

<h3 class="title" style="background-image:url('@Model.AfbeeldingNaam');">@Html.DisplayFor(model => model.Naam)</h3>
<div>
    <p>Van <span class="age">@Html.DisplayFor(model => model.MinLeeftijd)</span> tot <span class="age">@Html.DisplayFor(model => model.MaxLeeftijd)</span> jaar.</p>
    <p>Van <span class="age">@Html.DisplayFor(model => model.MinDuur)</span> tot <span class="age">@Html.DisplayFor(model => model.MaxDuur)</span> uur.</p>
    <p>De kostprijs werd geschat op &euro;@Html.DisplayFor(model => model.Prijs).</p>
</div>

<div class="mainUitleg">
    <p class="title">
        @Html.DisplayNameFor(model => model.DitactischeToelichting)
    </p>

    <p>
        @Html.DisplayFor(model => model.DitactischeToelichting)
    </p>

    <p class="title">
        @Html.DisplayNameFor(model => model.Uitleg)
    </p>

    <p>
        @Html.DisplayFor(model => model.Uitleg)
    </p>

</div>

<div id="owl-demo" class="owl-carousel owl-theme">
    @foreach (Models.OmgevingsBoek_Models.Foto afb in Model.Fotos)
    {
        <div class="item"><img src="@afb.FotoUrl"></div>
    }
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script src="~/Content/js/userDeleteScript.js"></script>
<script src="~/Scripts/owl.carousel/owl-carousel/owl.carousel.min.js">
    $(document).ready(function () {
        $("#owl-demo").owlCarousel({
            navigation: true, // Show next and prev buttons
            slideSpeed: 300,
            paginationSpeed: 400,
            singleItem: true
        });
    });
</script>
