@model Models.OmgevingsBoek_Models.Boek

@{
    ViewBag.Title = "Boeken";
}
<script>
    id = @Model.Id;
    pagina = "Boek";
</script>
@section Share{
    <div class="breadcrumb" style="width: auto; margin-top: 8px; margin-bottom: 8px; height: 36px; margin-left: 5px; float: left; display: inline-block; padding: 0px;">
        <a style="padding: 0px;" href="#" data-id="@(@Model.Id)" data-type="boek" data-container="body" data-toggle="popover" data-placement="bottom" class="shareItem">
            <span class="glyphicon glyphicon-share" style="font-size: 1.2em; padding: 8px 9px;"></span>
        </a>
    </div>
}

<div class="rowheader col-xs-6 col-md-9    "><h3>@Model.Naam   <a class="delItem" href="#"><span style="font-size:0.6em" class="glyphicon glyphicon-trash"></span></a></h3></div>

<div class="col-xs-6 col-md-9 content" id="content">
    <div class="alertt" style="display:none">
        <p>Zeker dat je dit boek wilt verwijderen?</p>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#activiteiten" aria-controls="activiteiten" role="tab" data-toggle="tab">Activiteiten</a></li>
        <li role="presentation"><a href="#routes" aria-controls="routes" role="tab" data-toggle="tab">Routes</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="activiteiten">
            <div class="row books" id="mijnBoeken">
                @*<ol class="breadcrumb list-inline">
                    <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="active">Boek: @Model.Naam</li>
                    </ol>*@
                @foreach (Models.OmgevingsBoek_Models.Activiteit activiteit in Model.Activiteiten)
                {
                    <div class="col-sm-6 col-md-3 element">
                        <a href="/Activiteiten/Details?Id=@activiteit.Id&boekId=@Model.Id">
                            <img class="img-responsive" src="@activiteit.AfbeeldingNaam" />
                            <span class="caption">@activiteit.Naam</span>
                        </a>
                        <span class="buttons">
                            <a style="padding: 0px;" type="button" href="#" data-id="@(@activiteit.Id)" data-type="activiteit" data-container="body" data-toggle="popover" data-placement="bottom" class="shareItem expand btn btn-default">
                                <span class="glyphicon glyphicon-share"></span>
                            </a>
                            <a href="/home/Activiteit?id=@activiteit.Id&action=public" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-eye-close"></span></a>
                            <a href="#" value="@activiteit.Id" class="toggleActivityEdit expand btn btn-default" type="button"><span value="@activiteit.Id" class="glyphicon glyphicon-cog"></span></a>
                        </span>
                    </div>
                }
                @if (Model.Eigenaar != null && Model.Eigenaar.UserName == User.Identity.Name)
                {
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="toggleActivityForm">
                            <span class="caption"><span class="glyphicon glyphicon-plus"></span> Activiteit toevoegen</span>
                        </a>
                    </div>
                }
            </div>
        </div>

        
        <div role="tabpanel" class="tab-pane" id="routes">
            <div class="row books" id="mijnRoutes">
                @*<ol class="breadcrumb list-inline">
                    <li><a href="@Url.Action("Index","Home")"><span class="glyphicon glyphicon-home"></span></a></li>
                    <li class="active">Boek: @Model.Naam</li>
                    </ol>*@
                @foreach (Models.OmgevingsBoek_Models.Route route in Model.Routes)
                {
                    <div class="col-sm-6 col-md-3 element">
                        <a href="/Routes/Details/@route.Id">
                            <span class="caption">@route.Naam</span>
                            </a>
                            <span class="buttons">
                                <a href="/home/Route?id=@route.Id&action=share" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-share"></span></a>
                                <a href="/home/Route?id=@route.Id&action=public" class="expand btn btn-default" type="button"><span class="glyphicon glyphicon-eye-close"></span></a>
                                <a href="#"  class="toggleActivityEdit expand btn btn-default" type="button"><span class="glyphicon glyphicon-cog"></span></a>
                            </span>
                        </div>
                }
                @if (Model.Eigenaar != null && Model.Eigenaar.UserName == User.Identity.Name)
                {
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="toggleRouteForm">
                            <span class="caption"><span class="glyphicon glyphicon-plus"></span> Route toevoegen</span>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="col-xs-6 col-md-9 content" id="activityForm" style="
  position: absolute;
  height: 99%;
  top:0;
  overflow-y:auto !important; /*fuck jquery*/
  bottom:0;
  display: none;
  background-color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
">
    @using (Html.BeginForm("AddActivity", "Home", FormMethod.Post, new { enctype = "multipart/form-data", data_toggle = "validator" }))
    {
        <h3 class="rowheader">Activiteit toevoegen aan @Model.Naam</h3>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="naam">Naam:</label><span class="help-block with-errors"></span>
                    <input type="text" class="form-control" id="name" name="Naam" placeholder="Naam van activiteit" required>
                </div>
                <div class="form-group">
                    <label for="PoiShow">POI:</label><span class="help-block with-errors"></span>
                    <input type="text" name="PoiShow" class="form-control" id="poiName" placeholder="Klik op de afbeelding van een POI." readonly>
                    <input type="text" class="form-control hidden-input" id="poi" name="PoiId" required>
                </div>
            </div>
            <div class="form-group col-md-2 upload">
                <label for="inputFile">Plaats cover</label>
                <div class="fileUpload btn btn-default form-control">
                    <span>Upload Foto</span>
                    <input type="file" class="upload" name="AfbeeldingFile" id="exampleInputFile" accept="image/x-png, image/jpeg">
                </div>
            </div>
            <div class="form-group col-md-5">
                <label for="amount">Tags:</label>
                <div class="input-group">
                    <span class="input-group-addon tag"><span class="glyphicon glyphicon-tags"></span></span>
                    <input name="TagsString" class="form-control tags" id="poiTags" value="" />
                </div>
            </div>
            <div class="col-md-1">
                <button class="toggleActivityForm btn btn-danger">
                    <span class="caption"><span class="glyphicon glyphicon-remove"></span></span>
                </button>
            </div>

        </div>

        <div class="row">
            <div role="tabpanel" class="col-md-12">
                <!-- Nav tabs -->

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#basis" aria-controls="basis" role="tab" data-toggle="tab">Basis info</a></li>
                    <li role="presentation"><a href="#media" aria-controls="media" role="tab" data-toggle="tab">Media</a></li>
                </ul>

                <!-- Tab panes -->
                @Html.Hidden("BoekId", Model.Id)
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="basis">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="amount">Leeftijd doelgroep:</label>
                                <input type="hidden" class="form-control" id="amount" readonly style="">
                                <div class="input-group">
                                    <span class="input-group-addon" id="minAgeBoek"></span>
                                    <div class="form-control slider" id="slider-boek-age"></div>
                                    <span class="input-group-addon" id="maxAgeBoek"></span>
                                    <input type="hidden" name="MaxLeeftijd" id="maxAgeHiddenBoek" />
                                    <input type="hidden" name="MinLeeftijd" id="minAgeHiddenBoek" />

                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="amount">Geschatte tijdsduur:</label>
                                <input type="hidden" class="form-control" id="amount" readonly style="">
                                <div class="input-group">
                                    <span class="input-group-addon" id="minTimeBook"></span>
                                    <div class="form-control slider" id="slider-boek-time"></div>
                                    <span class="input-group-addon" id="maxTimeBook"></span>
                                    <input type="hidden" name="MaxDuur" id="maxTimeHiddenBook" />
                                    <input type="hidden" name="MinDuur" id="minTimeHiddenBook" />
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="amount">Prijs per leerling:</label>
                                <div class="input-group">
                                    <span class="input-group-addon">&euro;</span>
                                    <input class="form-control" pattern="[0-9]+([,][0-9]+)?" fuckyouasp type="text" id="prijsLeerling" name="Prijs">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="amount">Toelichting:</label>
                                <textarea class="form-control" type="text" id="prijsLeerling" name="DitactischeToelichting"></textarea>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="amount">Uitleg activiteit:</label>
                                <textarea class="form-control" type="text" id="prijsLeerling" name="Uitleg"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="amount">Benodigdheden:</label>
                                <div class="input-group">
                                    <span class="input-group-addon tag"><span class="glyphicon glyphicon-shopping-cart"></span></span>
                                    <input name="BenodigdhedenString" class="form-control shopping" id="poiTags" value="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="media">
                        <h3>Video</h3>
                        <div class="upload_video">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <span id="signinButton" class="pre-sign-in">
                                        <!-- IMPORTANT: Replace the value of the <code>data-clientid</code>
                                        attribute in the following tag with your project's client ID. -->
                                        <span class="g-signin"
                                              data-callback="signinCallback"
                                              data-clientid="373280989230-i785digcek4jpfhtg802a4el59jsfv1t.apps.googleusercontent.com"
                                              data-cookiepolicy="single_host_origin"
                                              data-scope="https://www.googleapis.com/auth/youtube.upload https://www.googleapis.com/auth/youtube">
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="post-sign-in">
                                <div class="row">
                                    <div class="form-group col-md-3" id="profile-show">
                                        <span id="channel-name"></span>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="title">Benaming:</label>
                                        <input id="title" class="form-control" type="text" placeholder="Titel van video">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="description">Beschrijving:</label>
                                        <textarea class="form-control" id="description"></textarea>
                                        <div>
                                            <select hidden id="privacy-status">
                                                <option>public</option>
                                                <option selected>unlisted</option>
                                                <option>private</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label for="file">Uploaden:</label>
                                        <input input type="file" id="file" class="button form-control" accept="video/*">
                                        <button class="btn btn-default form-control" type="button" id="uploadvideo">Video uploaden</button>
                                        <div class="during-upload">
                                            <p><span id="percent-transferred"></span>% done (<span id="bytes-transferred"></span>/<span id="total-bytes"></span> bytes)</p>
                                            <progress id="upload-progress" max="1" value="0"></progress>
                                        </div>
                                        <div class="post-upload">
                                            <input class="form-control" disabled name="video" id="video-id" />
                                            <p>De video is geupload. (<a id="video-url" href="#"></a>)</p>
                                            <ul hidden id="post-upload-status"></ul>
                                            <div id="player"></div>
                                        </div>
                                    </div>
                                    <script src="//apis.google.com/js/client:plusone.js"></script>
                                    <script src="~/Scripts/cors_upload.js"></script>
                                    <script src="~/Scripts/upload_video.js"></script>
                                </div>
                            </div>
                        </div>
                        <h3>Afbeeldingen</h3>
                        <div class="row">
                            <div class="form-group col-md-12 upload">
                                <label for="images">Kies afbeeldingen: (tip: je kan meerdere afbeeldingen tegelijk selecteren)</label>
                                <div class="fileUpload btn btn-default form-control">
                                    <span>Upload Foto</span>
                                    <input type="file" multiple class="upload" name="images" id="images" accept="image/x-png, image/jpeg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-success form-control" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>" >
                            <span class="glyphicon glyphicon-ok" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="col-xs-6 col-md-9 content" id="routeForm" style="
  position: absolute;
  height: 99%;
  top:0;
  overflow-y:auto !important; /*fuck jquery*/
  bottom:0;
  display: none;
  background-color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
">
    @using (Html.BeginForm("AddRoute2", "Home", FormMethod.Post, new { enctype = "multipart/form-data", data_toggle = "validator",@id = "addRouteForm" })) {
    <h3 class="rowheader">Route toevoegen aan @Model.Naam</h3>


    <div class="col-md-6 col-xs-12 col-lg-6">
        @*<input id="pac-input" class="controls" type="text" placeholder="Voer een locatie in" />*@
        <div id="map-canvas"></div>
    </div>
    <div class="col-md-6 col-xs-12 col-lg-6">
        <div class="form-group">
    <input type="text" id="routeNaam" name="routeNaam" placeholder="naam van de route" class="col-md-6" />
    <div id="routeSubmitContainer">
        <button type="button" id="routeSubmit" class="btn btn-success submit col-md-4" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>">
                    <span class="glyphicon glyphicon-ok"></span>Route opslaan
        </button>
        <button type="button" id="routeCancel" class="toggleRouteForm btn btn-danger submit col-md-2" data-loading-text="<i class='fa fa-spinner fa-pulse'></i>">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </div>


    
    </div>



    <select size="5" id="waypointsList">
        <option disabled>Klik op een activiteit om te starten</option>
    </select>

    </div>

    <div class="col-md-6 col-xs-12 col-lg-6">
        <div id="directions-panel">

        </div>
    </div>
    <div class="col-md-6 col-xs-12 col-lg-6">
        <button type="button" class="btn btn-default btn-primary" onclick="calculateRoute();">
            Route berekenen
        </button>
        <button type="button" class="btn btn-default" id="moveWaypointUp">
            <span class="glyphicon glyphicon-arrow-up"></span>Naar boven
        </button>
        <button type="button" class="btn btn-default" id="moveWaypointDown">
            <span class="glyphicon glyphicon-arrow-down"></span>Naar beneden
        </button>
        <button type="button" onclick="removeWaypointFromList()" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>Verwijder punt
        </button>
        <button type="button" class="btn btn-danger">
            <span class="glyphicon glyphicon-remove"></span>Verwijder route
        </button>
        <input type="text" class="form-control hidden-input" id="activiteitenIds" name="activiteitenIds" required>
        <input type="text" class="form-control hidden-input" id="boekId" name="boekId" value="@Model.Id"/>
    </div>


                                                                                                                                                          }

    
</div>

<div class="col-xs-6 col-md-9 content" id="routeForm" style="
  position: absolute;
  height: 99%;
  top:0;
  overflow-y:auto !important; /*fuck jquery*/
  bottom:0;
  display: none;
  background-color: white;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition:none;
">
    @using (Html.BeginForm("AddRoute", "Home", FormMethod.Post, new { enctype = "multipart/form-data", data_toggle = "validator" }))
    {
        <h3 class="rowheader">Route toevoegen aan @Model.Naam</h3>
        <div class="row">
            <div class="form-group col-md-11">
                <input type="text" name="naam" class="form-control" />
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Weg</label>
            </div>
            <div class="col-md-4">
                <label>Geschatte tijdsduur: <span id="timeEstimate">4u</span></label>
            </div>
            <div class="col-md-4">
                <label>Totale kostprijs per leerling: <span id="costEstimate">€10</span></label>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <button class="btn btn-success form-control"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
        </div>
    }
</div>

<script>



</script>

<script src="~/Content/js/GoogleMapsScript.js"></script>
<script src="~/Content/js/ActiviteitInBoek/Add.js"></script>
<script src="~/Content/js/userDeleteScript.js"></script>
@{ Html.RenderAction("ActiviteitPartial", "Home"); }
@{ Html.RenderAction("PoiPartial", "Home"); }
<script src="~/Content/js/MainElementFilter.js"></script>
