@model Models.PresentationModels.UserActivities
@{
    ViewBag.Title = "Gebruiker";
}
<div id="div_loading"></div>

<div class="col-xs-12 col-md-12 content" id="content">

    <div class="profileHolder col-xs-12 col-md-12">

        @if (User.Identity.Name == Model.User.UserName)
        {
            <div class="profileImage" style="height:100px;">


                <div style="float:left; background:url(@Model.User.Afbeelding);background-position: center center;
                     background-repeat:no-repeat;
                     background-size:200px; margin-right:20px" class="profilePic bewProf">
                </div>
                <div id="vlakEnIcoon"><form enctype="multipart/form-data"><input type="file" class="upload" name="AfbeeldingFile" id="exampleInputFile" accept="image/x-png, image/gif, image/jpeg"></form><span class="glyphicon glyphicon-pencil"></span>  </div>
            </div>
        }
        else
        {
            <div class="profileImage">
                <div style="float:left; background:url(@Model.User.Afbeelding);background-position: center center;
                     background-repeat:no-repeat;
                     background-size:200px; margin-right:20px" class="profilePic">
                </div>
            </div>
        }

        <h2 style="margin-top:30px;">@Model.User.Voornaam @Model.User.Naam</h2>
    </div>
    <div style="col-xs-6 col-md-9">
        <p>@Model.User.UserName</p>
        <!--
          <input type="hidden" name="tel" value="@Model.User.PhoneNumber">
          <input type="hidden" name="ema" value="@Model.User.Email">
          <ul class="infoProf" style="list-style-type:none">
              @if (User.Identity.Name != Model.User.UserName)
              {
                  <li><b>Gegevens:</b></li>
                  <li>
                      gsm/tel: @if (Model.User.PhoneNumber == null)
                      { @("Niet opgegeven") }
                      else
                      { @Model.User.PhoneNumber}


                  </li>
                  <li>
                      email: @if (Model.User.Email == null)
                      { @("Niet opgegeven") }
                      else
                      { @Model.User.Email}
                  </li>
              }
              else
              {
                  <li class="bewInfo"><a>bewerk</a></li>
                  <li><b>Gegevens:</b></li>
                  <li>
                      gsm/tel: @if (Model.User.PhoneNumber == null)
                      { @("Niet opgegeven") }
                      else
                      { @Model.User.PhoneNumber}


                  </li>
                  <li>
                      email: @if (Model.User.Email == null)
                      { @("Niet opgegeven") }
                      else
                      { @Model.User.Email}
                  </li>
              }
          </ul>
            -->
    </div>
    @if (Model.Boeken.Count != 0)
    {
        <h2>Boeken</h2>
        <div class="row books booklist" id="mijnBoeken">
            @if (Model.Boeken.Count > 4)
            {
                List<Models.OmgevingsBoek_Models.Boek> lijstje = Model.Boeken.Take(4).ToList();
                foreach (var item in lijstje)
                {
                    if (item.Equals(lijstje.Last()))
                    {
                        <div class="MoreItems MoreBoek col-sm-6 col-md-3 NewItems">
                            @if (item.Afbeelding == null)
                            {
                                <a class="NewBoek">
                                    <span class="caption">More</span>
                                </a>
                            }
                            else
                            {
                                <a class="NewBoek" style="background:url(@item.Afbeelding)">
                                    <span class="caption">More</span>
                                </a>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="MoreItems col-sm-6 col-md-3">
                            <a href="Boek?id=@item.Id" style="background:url(@item.Afbeelding)">
                                <span class="caption">@item.Naam</span>
                            </a>
                        </div>
                    }
                }
                List<Models.OmgevingsBoek_Models.Boek> lijstjes = Model.Boeken.Skip(3).ToList();
                var j = Math.Round((Decimal)lijstjes.Count / 2);
                var i = 0;
                foreach (var item in lijstjes)
                {
                    i = i + 1;
                    if (i == j)
                    {
                        <div id="midB"></div>
                    }
                    <div class="MoreItems col-sm-6 col-md-3">
                        @if (item.Afbeelding == null)
                        {
                            <a href="Boek?id=@item.Id" style="position:absolute;">
                                <span class="caption">@item.Naam</span>
                            </a>
                        }
                        else
                        {
                            <a class="pleps" href="Boek?id=@item.Id" style="position:absolute;background:url(@item.Afbeelding)">
                                <span class="caption">@item.Naam</span>
                            </a>
                        }
                    </div>
                }
            }
            else
            {
                foreach (var boek in Model.Boeken)
                {

                    <div class="MoreItems col-sm-6 col-md-3">
                        @if (boek.Afbeelding == null)
                        {
                            <a href="Boek?id=@boek.Id">
                                <span class="caption">@boek.Naam</span>
                            </a>
                        }
                        else
                        {
                            <a href="Boek?id=@boek.Id" style="background:url(@boek.Afbeelding)">
                                <span class="caption">@boek.Naam</span>
                            </a>
                        }

                    </div>
                }
            }
        </div>
    }
    @if (Model.Activiteiten.Count != 0)
    {
        <h2>Activiteiten</h2>
        <div class="row books actlist" id="mijnActiviteiten">
            @if (Model.Activiteiten.Count > 4)
            {
                List<Models.OmgevingsBoek_Models.Activiteit> lijstje = Model.Activiteiten.Take(4).ToList();
                foreach (var item in lijstje)
                {
                    if (item.Equals(lijstje.Last()))
                    {
                        <div class="MoreItems MoreAct col-sm-6 col-md-3 NewItems">
                            @if (item.AfbeeldingNaam == null)
                            {
                                <a class="NewAct">
                                    <span class="caption">More</span>
                                </a>
                            }

                            else
                            {
                                <a class="NewAct" style="background:url(@item.AfbeeldingNaam);">
                                    <span class="caption">More</span>
                                </a>
                            }
                        </div>
                    }
                    else
                    {

                        <div class="MoreItems  col-sm-6 col-md-3">
                            @if (item.AfbeeldingNaam == null)
                            {
                                <a href=" boeken?vanaf=0">
                                    <span class="caption">@item.Naam</span>
                                </a>
                            }
                            else
                            {
                                <a href=" boeken?vanaf=0" style="background:url(@item.AfbeeldingNaam);">
                                    <span class="caption">@item.Naam</span>
                                </a>
                            }

                        </div>
                    }
                }
                List<Models.OmgevingsBoek_Models.Activiteit> lijstjes = Model.Activiteiten.Skip(3).ToList();
                var j = Math.Round((Decimal)lijstjes.Count / 2);
                var i = 0;
                foreach (var item in lijstjes)
                {
                    i = i + 1;
                    if (i == j)
                    {
                        <div id="midA"></div>
                    }
                    <div class="MoreItems col-sm-6 col-md-3">
                        @if (item.AfbeeldingNaam == null)
                        {
                            <a href="Boek?id=@item.Id" style="position:absolute;">
                                <span class="caption">@item.Naam</span>
                            </a>
                        }
                        else
                        {
                            <a href="Boek?id=@item.Id" style="position:absolute;background:url(@item.AfbeeldingNaam)">
                                <span class="caption">@item.Naam</span>
                            </a>
                        }
                    </div>
                }
            }
            else
            {
                foreach (var activ in Model.Activiteiten)
                {

                    <div class="col-sm-6 col-md-3">
                        @if (activ.AfbeeldingNaam == null)
                        {
                            <a href="Activities?vanaf=0">
                                <span class="caption">@activ.Naam</span>
                            </a>
                        }
                        else
                        {
                            <a href="Activities?vanaf=0" style="background:url(@activ.AfbeeldingNaam);">
                                <span class="caption">@activ.Naam</span>
                            </a>
                        }
                    </div>
                }
            }

        </div>
    }
</div>


<script src="~/Content/js/CooleDingenGebruiker.js"></script>