@model Models.PresentationModels.UserActivities
@{
    ViewBag.Title = "Gebruiker";
}

<div class="col-xs-12 col-md-12 content" id="content">

    <div class="profileHolder col-xs-12 col-md-12">

        @if (1 == 1/*User.Identity.Name == Model.User.UserName*/)
        {
            <div class="profileImage" style="height:100px;">


                <div style="float:left; background:url(@Model.User.Afbeelding);background-position: center center;
                     background-repeat:no-repeat;
                     background-size:200px; margin-right:20px" class="profilePic bewProf">
                </div>
                
                <div id="vlakEnIcoon"><input type="file" class="upload" name="AfbeeldingFile" id="exampleInputFile" accept="image/x-png, image/gif, image/jpeg"><span class="glyphicon glyphicon-upload"></span>  </div>
            </div>
        }
        else
        {
            <div class="profileImage">
                <div style="float:left; background:url(@Model.User.Afbeelding);background-position: center center;
                     background-repeat:no-repeat;
                     background-size:200px; margin-right:20px" class="profilePic">
                </div>
            </div>
        }

                <h2 style="margin-top:30px;">@Model.User.Voornaam @Model.User.Naam</h2>
            </div>
    <div style=" col-xs-6 col-md-9">
        <ul style="list-style-type:none">
            <li><b>Gegevens:</b></li>
            <li>
                gsm/tel: @if (Model.User.PhoneNumber == null)
                { @("Niet opgegeven") }
                else
                { @Model.User.PhoneNumber}


            </li>
            <li>
                email: @if (Model.User.Email == null)
                { @("Niet opgegeven") }
                else
                { @Model.User.Email}
            </li>
            <li>@Model.User.UserName</li>
            <li>@User.Identity.Name</li>
        </ul>   
    </div>

    <h2>Boeken</h2>
    <div class="row books" id="mijnBoeken">
        @if (Model.Boeken.Count > 4)
        {
            List<Models.OmgevingsBoek_Models.Boek> lijstje = Model.Boeken.Take(4).ToList();
            foreach (var item in lijstje)
            {
                if (item.Equals(lijstje.Last()))
                {
                    <div class="col-sm-6 col-md-3 NewItems" data-reactid=".0.1:0">
                        <a href="Boek?id=@item.Id" style="background:url(@item.Afbeelding)" data-reactid=".0.1:0.0">
                            <span class="caption" data-reactid=".0.1:0.0.0">More</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="MoreItems col-sm-6 col-md-3" data-reactid=".0.1:0">
                        <a href="Boek?id=@item.Id" style="background:url(@item.Afbeelding)" data-reactid=".0.1:0.0">
                            <span class="caption" data-reactid=".0.1:0.0.0">@item.Naam</span>
                        </a>
                    </div>
                }
            }
            List<Models.OmgevingsBoek_Models.Boek> lijstjes = Model.Boeken.Skip(4).ToList();
        }
        else
        {
            foreach (var boek in Model.Boeken)
            {

                <div class="col-sm-6 col-md-3" data-reactid=".0.1:0">
                    <a href="Boek?id=@boek.Id" style="background:url(@boek.Afbeelding)" data-reactid=".0.1:0.0">
                        <span class="caption" data-reactid=".0.1:0.0.0">@boek.Naam</span>
                    </a>
                </div>
            }
        }
    </div>
    <h2>Activiteiten</h2>
    <div class="row books" id="mijnActiviteiten">
        @if (Model.Activiteiten.Count > 4)
        {
            List<Models.OmgevingsBoek_Models.Activiteit> lijstje = Model.Activiteiten.Take(4).ToList();
            foreach (var item in lijstje)
            {
                if (item.Equals(lijstje.Last()))
                {
                    <div class="col-sm-6 col-md-3 NewItems" data-reactid=".0.1:0">
                        <a href="Boeken?vanaf=0" style="@if(@item.AfbeeldingNaam != null) { @("background:url(@activ.AfbeeldingNaam)");
                                                    }" data-reactid=" .0.1:0.0">
                            <span class="caption" data-reactid=".0.1:0.0.0">More</span>
                        </a>
                    </div>
                }
                else
                {
                    <div class="MoreItems col-sm-6 col-md-3" data-reactid=".0.1:0">
                        <a href="Boeken?vanaf=0" style="@if(@item.AfbeeldingNaam != null) { @("background:url(@activ.AfbeeldingNaam)");
                                                    }" data-reactid=".0.1:0.0">
                            <span class="caption" data-reactid=".0.1:0.0.0">@item.Naam</span>
                        </a>
                    </div>
                }
            }
        }
        else
        {
            foreach (var activ in Model.Activiteiten)
            {

                <div class="col-sm-6 col-md-3" data-reactid=".0.1:0">
                    <a href="Activities?vanaf=0" style="@if(@activ.AfbeeldingNaam != null) { @("background:url(@activ.AfbeeldingNaam)");
                                                    }" data-reactid=".0.1:0.0">
                        <span class="caption" data-reactid=".0.1:0.0.0">@activ.Naam</span>
                    </a>
                </div>
            }
        }
    </div>
</div>


<script src="~/Content/js/CooleDingenGebruiker.js"></script>