@model Models.PresentationModels.HomeIndexPM

@{
    ViewBag.Title = "Home Page";
}

<div class="col-xs-6 col-md-9 content" id="content">
    <div classname="row books" id="mijnBoeken">
        @Html.React(
            "CommentList",
            new
            {
                data = Model.BoekenEigenaar,
                rowHead = "Mijn Boeken"
            },
            null,
            "mijnBoeken"
        )
    </div>
    <div classname="row books" id="gedeeldeBoeken">
        @Html.React(
            "CommentList",
            new
            {
                data = Model.BoekenGedeeld,
                rowHead = "Gedeelde Boeken"
            },
            null,
            "gedeeldeBoeken"
        )
    </div>
</div>

<script src="http://fb.me/react-0.13.1.js"></script>
<script src="@Url.Content("~/Scripts/View/Boeken.jsx")">
</script>
@Html.ReactInitJavaScript()
@Html.Partial("_PoiPartial", Model)
