@model Models.OmgevingsBoek_Models.Poi
@{
    ViewBag.Title = "Poi";
}


<div class="col-xs-12 col-md-12 content" id="content">

    <h2>@Model.Naam</h2>

    <div class="ImageCrop img-responsive img-rounded"  style="background:url('@Model.Afbeelding')">
   </div>
    <ul style="list-style-type:none">
        <li><b>Gegevens</b></li>
        <li>
            gsm/tel: @if (Model.Telefoon == null)
            { @("Niet opgegeven") }
            else
            { @Model.Telefoon}
        </li>
        <li>
            email: @if (Model.Email == null)
            { @("Niet opgegeven") }
            else
            { @Model.Email}
        </li>
        <li>Adres:  @Model.Straat @Model.Nummer, @Model.Postcode @Model.Gemeente</li>
        @if (Model.MinLeeftijd != null)
        {
            <li>doelgroep: @Model.MinLeeftijd tot @Model.MaxLeeftijd</li>}
    </ul>
   

    </div>
