@model Models.OmgevingsBoek_Models.Route
@{
    ViewBag.Title = "Route overzicht";
}

<script>
    gebruikerId = "@ViewBag.gebruikerId";
    pagina = "Route";
</script>

<div class="col-xs-12 col-md-12 content routedisplay" id="content">
    <div class="alertt" style="display:none">
        <p>Ben je zeker dat je deze route wil verwijderen?</p>
    </div>
    <h3>Route @ViewBag.Naam<a class="delItem" href="#"><span style="font-size:0.6em" class="glyphicon glyphicon-trash"></span></a></h3>
    <div class="col-md-6 col-xs-6 col-lg-7">
        <div id="map-canvas"></div>
    </div>

    

    <div class="col-xs-6 col-md-6 col-lg-5">
        <select id="waypointsList" size="5">
            @foreach (Models.OmgevingsBoek_Models.RouteListItem rli in @Model.RouteLijst)
            {
                <option latitude="@rli.Activiteit.Poi.Latitude" longitude="@rli.Activiteit.Poi.Longitude">@rli.Activiteit.Naam</option>
            }
        </select>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-7">
        <div id="route-progress-container">
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
        </div>
        <div id="route"></div>
    </div>


    <div class="col-xs-6 col-md-6 col-lg-5">
        <div id="directions-panel"></div>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-7" id="controlsforStreetview">
        <button id="btnPause" type="button" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-pause"></span>Pauzeren</button>
    </div>

    <div class="col-xs-6 col-md-6 col-lg-5">
    </div>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script src="~/Experiments/js/TweenLite.js"></script>
    <script src="~/Content/js/GoogleMapsScript.js"></script>
    <script src="~/Experiments/js/StreetviewSequence.js"></script>

    <script>
        $().ready(function () {
            deferMapReady();

            $("#btnPause").click(function () {
                if ($("#btnPause span").hasClass("glyphicon-pause")) {
                    routeSequence.done(function (player) { player.pause() });
                    $("#btnPause span").removeClass("glyphicon-pause").addClass("glyphicon-play");
                    var $contents = $('#btnPause').contents();

                    $contents[$contents.length - 1].nodeValue = 'Afspelen';
                } else {
                    $("#btnPause span").removeClass("glyphicon-play").addClass("glyphicon-pause");
                    routeSequence.done(function (player) { player.play() });
                    var $contents = $('#btnPause').contents();

                    $contents[$contents.length - 1].nodeValue = 'Pauzeren';
                }
            });


            function deferMapReady() {
                if (maploaded !== null) {
                    if (maploaded == true) {
                        console.log("map ready");
                        $("#waypointsList option").each(function () {
                            console.log($(this).attr("latitude") + $(this).attr("longitude"));

                            var lat = $(this).attr("latitude").replace(",", ".");
                            var longitude = $(this).attr("longitude").replace(",", ".");


                            var marker = new google.maps.Marker({
                                map: map,
                                position: new google.maps.LatLng(lat, longitude)
                            })
                            markerArray.push(marker);
                        })
                        calculateRoute();
                    } else {
                        console.log("map not ready yet");
                        setTimeout(deferMapReady, 50);

                    }
                } else {
                    console.log("map not ready yet");
                    setTimeout(deferMapReady, 50);
                }
            }
        });
    </script>
</div>


<script src="~/Content/js/userDeleteScript.js"></script>