@model List<Models.OmgevingsBoek_Models.Activiteit>

<script>
    vanaf = @ViewBag.vanaf;
    desc = @ViewBag.desc;
    search = "";
    filter = @ViewBag.filter;
    pagina = "Activities";

</script>

@{
    ViewBag.Title = "Activities";
    int meer = ViewBag.vanaf + 30;
    int minder = 0;
    if (ViewBag.vanaf == 0)
    {
        minder = 0;
    }
    else
    {
        minder = ViewBag.vanaf - 30;
    }
    int desc = ViewBag.desc;
}


<div class="col-xs-12 col-md-12 nav">
    <a href="../Admin">&lt;&lt; Terug naar overzicht</a>
</div>
<div class="adminList col-xs-12 col-md-12 content" id="content">
    <h2 class="tittel">Activiteiten</h2>
    <div class="col-xs-6 col-md-9">
        <span style="font-weight:bold" class="voorbVanaf">@ViewBag.vanaf - @meer</span>
    </div>
    <div class="col-xs-12 col-md-12" id="buttonsAdBoven">
        <button class="SelVor"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button class="SelVol"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button class="delList" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <input name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
    </div>
    <form id="formA" action="DeleteActiviteit">
        <table class="AdminTable table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-4 col-xs-4 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
            </colgroup>
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-th-list"></span></th>
                    <th><span>Naam</span></th>
                    <th><span>Eigenaar</span></th>
                    <th><span>Poi</span></th>
                    <th><span>Opties</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input form="formA" name="listId" value="@item.Id" type="checkbox" />
                        </td>
                        <td>@item.Naam</td>
                        <td>@item.Eigenaar.UserName</td>
                        <td>@item.Poi.Naam</td>
                        <td>
                            <div class="displayInlineButtons">
                                <button class="delEen"><span class="glyphicon glyphicon-remove"></span></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <div id="buttonsAdOnder">
        <button class="SelVor"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button class="SelVol"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <input form="formA" name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
    </div>
</div>

<script type="text/javascript" src="~/Content/js/adminformscript.js"></script>
<script src="~/Content/js/ZoekScript.js"></script>




