@model List<Models.OmgevingsBoek_Models.Activiteit>
@{
    ViewBag.Title = "Activities";
}
<div class="adminList col-xs-6 col-md-9 content" id="content">
    <h2>Activiteiten</h2>

    <div id="buttonsAdBoven">
        <button><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>

        <button form="formA" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <input form="formA" name="filter" type="text" placeholder="Zoeken" />
    </div>


    <form id="formA" method="post" action="Delete">
        <input hidden name="vanaf" value="@ViewBag.vanaf" />
        <input hidden name="desc" value="@ViewBag.desc" />
        <table class="table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-4 col-xs-4 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
            </colgroup>

            <tr>
                <th><span class="glyphicon glyphicon-th-list"></span></th>
                <th>Naam</th>
                <th>Eigenaar</th>
                <th>Poi</th>
                <th>Opties</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input form="formA" name="ActiviteitenToDelete" value="@item.Id" type="checkbox" />
                    </td>
                    <td>@item.Naam</td>
                    <td>@item.Eigenaar</td>
                    <td>item.Poi.Naam</td>
                    <td>
                        <div class="displayInlineButtons">
                            <button><span class="glyphicon glyphicon-remove"></span></button>
                            <!--<button><span class="glyphicon glyphicon-pencil"></span></button>-->
                        </div>
                    </td>
                </tr>
            }
        </table>
    </form>
    <div id="buttonsAdOnder">
        <button><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
    </div>
</div>