
@model List<Models.OmgevingsBoek_Models.Activiteit>

<script>
    vanaf = @ViewBag.vanaf;
    desc = @ViewBag.desc;
    filter = @ViewBag.filter;
    pagina = @Models.OmgevingsBoek_Models.values.Paginas.Pois;

</script>

@{
    ViewBag.Title = "Activities";
    int meer = ViewBag.vanaf + 30;
    int minder = 0;
    if (ViewBag.vanaf == 0)
    {
        minder = 0;
    }
    else
    {
        minder = ViewBag.vanaf - 30;
    }
    int desc = ViewBag.desc;
}


<div class="col-xs-12 col-md-12 nav">
    <a href="../Admin">&lt;&lt; Terug naar overzicht</a>
</div>
<div class="adminList col-xs-6 col-md-9 content" id="content">
    <h2 class="tittel">Activiteiten</h2>
    <div class="col-xs-6 col-md-9">
        <span style="font-weight:bold">@ViewBag.vanaf - @meer</span>
    </div>
    <div class="col-xs-12 col-md-12" id="buttonsAdBoven">
        
        <button onclick="location.href='../Admin/Activities?vanaf=@minder&desc=@desc'"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button onclick="location.href='../Admin/Activities?vanaf=@meer&desc=@desc'"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button form="formA" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <input form="formA" name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
    </div>


    <form id="formA" method="post" action="Delete">
        
          
            <table class="AdminTable table table-hover">

                <colgroup>
                    <col class="col-lg-1 col-xs-1 col-md-1" />
                    <col class="col-lg-4 col-xs-4 col-md-3" />
                    <col class="col-lg-3 col-xs-3 col-md-3" />
                    <col class="col-lg-3 col-xs-3 col-md-3" />
                    <col class="col-lg-1 col-xs-1 col-md-1" />
                </colgroup>
                <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-th-list"></span></th>
                        <th><span>Naam</span></th>
                        <th><span>Eigenaar</span></th>
                        <th><span>Poi</span></th>
                        <th><span>Opties</span></th>
                    </tr>
                </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input form="formA" id="DylanToch" name="ActiviteitenToDelete" value="@item.Id" type="checkbox" />
                    </td>
                    <td>@item.Naam</td>
                    <td>@item.Eigenaar.Email</td>
                    <td>@item.Poi.Naam</td>
                    <td>
                        <div class="displayInlineButtons">
                            <button><span class="glyphicon glyphicon-remove"></span></button>
                            <!--<button><span class="glyphicon glyphicon-pencil"></span></button>-->
                        </div>
                    </td>
                </tr>
            }
        </tbody>
            </table>
</form>
    <div id="buttonsAdOnder">
        <button onclick="location.href='../Admin/Activities?vanaf=@minder&desc=@desc'"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button onclick="location.href='../Admin/Activities?vanaf=@meer&desc=@desc'"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
    </div>
</div>

<script type="text/javascript" src="~/Content/js/adminformscript.js"></script>




