@model List<Models.OmgevingsBoek_Models.Boek>



@{
    ViewBag.Title = "Boeken";
    int meer = ViewBag.vanaf + 30;
    int minder = 0;
    if (ViewBag.vanaf == 0)
    {
        minder = 0;
    }
    else
    {
        minder = ViewBag.vanaf - 30;
    }
    int desc = ViewBag.desc;
}

<script>
    vanaf = @ViewBag.vanaf;
    desc = @ViewBag.desc;
    boeken = @ViewBag.filter;
    pagina = "Boeken";

</script>
<div class="col-xs-12 col-md-12 nav">
    <a href="../Admin">&lt;&lt; Terug naar overzicht</a>
</div>
<div class="adminList col-xs-6 col-md-9 content" id="content">
    <h2>Boeken</h2>
    <div class="col-xs-6 col-md-9">
        <span style="font-weight:bold">@ViewBag.vanaf - @meer</span>
    </div>
    <div id="buttonsAdBoven">
        <span style="font-weight:bold">@ViewBag.vanaf - @meer</span>
        <button onclick="location.href='../Admin/Boeken?vanaf=@minder&desc=@desc'"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button onclick="location.href='../Admin/Boeken?vanaf=@meer&desc=@desc'"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <!--<button><span class="glyphicon glyphicon-pencil"></span> Bewerken</button>-->
        <input type="text" placeholder="Zoeken" id="Zoeken" />
    </div>

    <form id="formA" method="post" action="DeleteBoeken">
        <table class="table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-th-list"></span></th>
                    <th>Naam</th>
                    <th>Eigenaar</th>
                    <th>Activiteiten</th>
                    <th>Opties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var boe in Model)
                {
                    <tr>
                        <td><input form="formA" name="BoekenToDelete" value="@boe.Id" type="checkbox" /></td>
                        <td>@boe.Naam</td>
                        <td>@boe.Eigenaar.UserName</td>
                        <td>
                            @foreach (var act in boe.Activiteiten)
                            {
                                if (act.Equals(boe.Activiteiten.Last()))
                                {
                                    <a href="#">@act.Naam</a>
                                }
                                else
                                {
                                    <a href="#">@act.Naam</a>@(',')
                                }
                            }
                        </td>
                        <td>
                            <div class="displayInlineButtons">
                                <button><span class="glyphicon glyphicon-remove-circle"></span></button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>
    <div id="buttonsAdOnder">
        <button onclick="location.href='../Admin/Boeken?vanaf=@minder&desc=@desc'"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button onclick="location.href='../Admin/Boeken?vanaf=@meer&desc=@desc'"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
    </div>
</div>
<script src="~/Content/js/ZoekScript.js"></script>
<script type="text/javascript" src="~/Content/js/adminformscript.js"></script>
