@model List<Models.OmgevingsBoek_Models.Boek>

<script>
    vanaf = @ViewBag.vanaf;
    desc = @ViewBag.desc;
    search = "";
    filter = @ViewBag.filter;
    if(filter == null) {
        filter = 0;
    }
    pagina = "Boeken";

</script>

@{
    ViewBag.Title = "Boeken";
    int meer = ViewBag.vanaf + 30;
    int minder = 0;
    if (ViewBag.vanaf == 0)
    {
        minder = 0;
    }
    else
    {
        minder = ViewBag.vanaf - 30;
    }
    int desc = ViewBag.desc;
}


<div class="col-xs-12 col-md-12 nav">
    <a href="../Admin">&lt;&lt; Terug naar overzicht</a>
</div>
<div class="adminList col-xs-12 col-md-12 content" id="content">
    <h2>Boeken</h2>
    <div class="col-xs-6 col-md-9">
        <span style="font-weight:bold" class="voorbVanaf">@ViewBag.vanaf - @meer</span>
    </div>
    <div class="col-xs-12 col-md-12" id="buttonsAdBoven">
        <button class="SelVor"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button class="SelVol"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button form="formA" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <input name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
        <input form="formA" name="desc" type="hidden" value="0" />
        <input form="formA" name="vanaf" type="hidden" value="@ViewBag.vanaf" />
    </div>

    <form id="formA" action="DeleteBoeken">
        <table class="AdminTable table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-th-list"></span></th>
                    <th><span>Naam</span></th>
                    <th><span>Eigenaar</span></th>
                    <th><span>Activiteiten</span></th>
                    <th><span>Opties</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var boe in Model)
                {
                    <tr>
                        <td><input form="formA" name="BoekenToDelete" value="@boe.Id" type="checkbox" /></td>
                        <td>@boe.Naam</td>
                        <td>@boe.Eigenaar.Email</td>
                        <td>
                            @foreach (var act in boe.Activiteiten)
                            {
                                if (act.Equals(boe.Activiteiten.Last()))
                                {
                                    <a href="#">@act.Naam</a>
                                }
                                else
                                {
                                    <a href="#">@act.Naam</a>@(',')


                                }
                            }

                                        

                                    </td>
                                    <td>
                                        <div class="displayInlineButtons">
                                            <button><span class="glyphicon glyphicon-remove-circle"></span></button>
                                        </div>
                                    </td>
                                </tr>
                }
            </tbody>
        </table>
    </form>
    <div id="buttonsAdOnder">
        <button class="SelVor"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button class="SelVol"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <input form="formA" name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
    </div>
</div>
<script src="~/Content/js/ZoekScript.js"></script>
<script type="text/javascript" src="~/Content/js/adminformscript.js"></script>
