@model List<Models.OmgevingsBoek_Models.Boek>

@{
    ViewBag.Title = "Boeken";
}
<div class="adminList">
    <h2>Boeken</h2>

    <div id="buttonsAdBoven">
        <button><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <button><span class="glyphicon glyphicon-pencil"></span> Bewerken</button>
        <input type="text" placeholder="Zoeken" />
    </div>

    <form id="formA">

        <table class="table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>


            <tr>
                <th><span class="glyphicon glyphicon-th-list"></span></th>
                <th>Naam</th>
                <th>Eigenaar</th>
                <th>Activiteiten</th> 
                <th>Opties</th>
            </tr>
            @foreach (var boe in Model)
            {
                <tr>
                    <td><input type="checkbox"/></td>
                    <td>@boe.Naam</td>
                    <td>@boe.Eigenaar.Email</td>
                    <td>
                        @foreach (var act in boe.Activiteiten)
                        {
                            if (act.Equals(boe.Activiteiten.Last()))
                            {
                                <a href="#">@act.Naam</a>
                            }
                            else
                            {
                                <a href="#">@act.Naam</a>@(',')
                            }
                        }
                    </td>                    
                    <td>
                        <div class="displayInlineButtons">
                            <button><span class="glyphicon glyphicon-remove-circle"></span></button>
                            <button><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </form>
    <div id="buttonsAdOnder">
        <button><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <button><span class="glyphicon glyphicon-pencil"></span> Bewerken</button>
    </div>
</div>