@model List<Models.PresentationModels.UserActivities>
@{
    ViewBag.Title = "Gebruikers";
}

<div class="adminList">
    <h2>Gebruikers</h2>
    <div id="buttonsAdBoven">
        <button><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <button><span class="glyphicon glyphicon-pencil"></span> Bewerken</button>
    </div>

    <form id="formA">

        <table class="table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1"/>
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-7 col-xs-7 col-md-7" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>

            <tr>
                <th><span class="glyphicon glyphicon-th-list"></span></th>
                <th>Naam</th>
                <th>Activiteiten</th>
                <th>Opties</th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td><input type="checkbox" name="checkbox" value="@item.User.Naam"></td>
                    <td>@item.User.Naam @item.User.Voornaam</td>
                    <td>
                        @foreach (var itempje in item.Activiteiten)
                        {
                            if (itempje.Equals(item.Activiteiten.Last()))
                            {
                                <a href="#">@itempje.Naam</a>
                            }
                            else
                            {
                                <a href="#">@itempje.Naam</a>@(',')
                            }
                        }
                    </td>
                    <td>
                        <div>
                            <button><span class="glyphicon glyphicon-remove"></span></button>
                            <button><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </form>
</div>

