@model Models.PresentationModels.GebruikersPM

<script>
    vanaf = @ViewBag.vanaf;
    desc = @ViewBag.desc;
    filter = @ViewBag.filter
    search = "";
    pagina = "Gebruikers";


    console.log("ja vanalles he");

</script>
@if (User.IsInRole("SuperAdministrator"))
{
<script>rol = true;</script>
    }

@{
    
    ViewBag.Title = "Gebruikers";

    int meer = ViewBag.vanaf + 30;
    int minder = 0;
    if (ViewBag.vanaf == 0)
    {
        minder = 0;
    }
    else
    {
        minder = ViewBag.vanaf - 30;
    }
    int desc = ViewBag.desc;
}

<div class="col-xs-12 col-md-12 nav">
    <a href="../Admin">&lt;&lt; Terug naar overzicht</a>
</div>
<div class="adminList col-xs-6 col-md-9 content" id="content">
    <h2 class="tittel">Gebruikers</h2>
    <div class="col-xs-6 col-md-9">
        <span style="font-weight:bold" class="voorbVanaf">@ViewBag.vanaf - @meer</span>
    </div>
    <div class="col-xs-12 col-md-12" id="buttonsAdBoven">

        <button class="SelVor"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button class="SelVol"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button class="delList" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        @if (User.IsInRole("SuperAdministrator"))
        {
            <button class="compDel" type="submit"><span class="glyphicon glyphicon-trash"></span> Volledig verwijderen</button>
            <button class="changeRecht" type="submit"><span class="glyphicon glyphicon-ice-lolly"></span> Verander rechten</button>
        }

        <input name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
    </div>
    <table class="col-xs-12 col-md-12 col-sm-12 AdminTable table table-hover" id="tableGebruikers">

        @if (User.IsInRole("SuperAdministrator"))
        {
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-3 col-xs-3 col-md-3" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>
        }
        else
        {
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-6 col-xs-7 col-md-4" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>
        }
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-th-list"></span></th>
                <th>Naam</th>
                <th>Email</th>
                <th>Activiteiten</th>
                @if (User.IsInRole("SuperAdministrator"))
                {
                    <th>Actief</th>
                    <th>rechten</th>
                }
                <th>Opties</th>


            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <h2>Uitnodigingen</h2>


    <form id="formB" method="post" action="Delete">
        <table class="col-xs-12 col-md-12 table table-hover">

            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-7 col-xs-7 col-md-7" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
            </colgroup>



            <tr>
                <th><span class="glyphicon glyphicon-th-list"></span></th>
                <th>Uitgenodigde</th>
                <th>Uitgenodigd door</th>
                @if (User.IsInRole("SuperAdministrator"))
                {
                    <th><span>Admin</span></th>
                }
                <th>Opties</th>

            </tr>

            @foreach (Models.OmgevingsBoek_Models.Uitnodiging item in Model.Uitnodigingen)
            {
                <tr>
                    <td><input type="checkbox" name="checkbox" value="@item.Id"></td>
                    <td>@item.EmailUitgenodigde</td>
                    <td>
                        @item.Eigenaar.UserName
                    </td>
                    <td>
                        <div class="displayInlineButtons">
                            <button><span class="glyphicon glyphicon-remove"></span></button>
                            <button><span class="glyphicon glyphicon-envelope"></span></button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </form>


    <div id="buttonsAdOnder">
        <button onclick="location.href='../Admin/Gebruikers?vanaf=@minder&desc=@desc'"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button onclick="location.href='../Admin/Gebruikers?vanaf=@meer&desc=@desc'"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
    </div>
</div>


<script src="~/Content/js/ZoekScript.js"></script>
<script type="text/javascript" src="~/Content/js/adminformscript.js"></script>

@Html.Partial("_GebrPartial")
