@model List<Models.OmgevingsBoek_Models.Poi>

<script>
    vanaf = @ViewBag.vanaf;
    desc = @ViewBag.desc;
    search = "";
    filter = @ViewBag.filter;
    pagina = "Pois";

</script>
@if (User.IsInRole("SuperAdministrator"))
{
    <script>rol = true;</script>
}
else
{
    <script>rol = false;</script>
}
@{
    ViewBag.Title = "PoI's";
    int meer = ViewBag.vanaf + 30;
    int minder = 0;
    if (ViewBag.vanaf == 0)
    {
        minder = 0;
    }
    else
    {
        minder = ViewBag.vanaf - 30;
    }
    int desc = ViewBag.desc;
}

<div class="alertt" style="display:none">
    <p>Zeker dat je deze Activiteit(en) wilt verwijderen?</p>
</div>
<div class="alerth" style="display:none">
    <p>Zeker dat je deze Poi('s) <span style="font-weight:bolder">helemaal</span> wilt verwijderen?</p>
</div>
<div class="adminList col-xs-12 col-md-12 content" id="content">
    <h2>Point of Interest's</h2>
    <div class="col-xs-6 col-md-9">
        <span style="font-weight:bold" class="voorbVanaf">@ViewBag.vanaf - @meer</span>
    </div>
    <div class="col-xs-12 col-md-12" id="buttonsAdBoven">
        <button class="SelVor"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button class="SelVol"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button class="delList" type="submit"><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        @if (User.IsInRole("SuperAdministrator"))
        {
            <button class="compDel" type="submit"><span class="glyphicon glyphicon-trash"></span> Volledig verwijderen</button>
        }
        <input name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
    </div>
    <table class="AdminTable col-xs-12 col-md-12 col-sm-12 table table-hover">
        @if (User.IsInRole("SuperAdministrator"))
        {
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-1 col-xs-2 col-md-2" />
                <col class="col-lg-3 col-xs-2 col-md-2" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
            </colgroup>
        }
        else
        {
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-1 col-xs-2 col-md-2" />
                <col class="col-lg-3 col-xs-2 col-md-2" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
            </colgroup>
        }
        <thead>
            <tr>
                <th><span class="glyphicon glyphicon-th-list"></span></th>
                <th><span>Naam</span></th>
                <th><span>Mail</span></th>
                <th><span>Adres</span></th>
                <th><span>Telefoon Nr.</span></th>
                <th><span>Tags</span></th>
                @if (User.IsInRole("SuperAdministrator"))
                {
                    <th><span>Verwijderd</span></th>
                }
                <th><span>Opties</span></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div id="buttonsAdOnder">
        <button class="SelVor"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button class="SelVol"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <input name="filter" type="text" id="Zoeken" placeholder="Zoeken" />
    </div>
</div>
<script src="~/Content/js/ZoekScript.js"></script>
<script type="text/javascript" src="~/Content/js/adminformscript.js"></script>
