@model List<Models.OmgevingsBoek_Models.Poi>

<script>
    vanaf = @ViewBag.vanaf;
    desc = @ViewBag.desc;
    search = "";
    filter = @ViewBag.filter;
    pagina = "Pois";

</script>

@{
    ViewBag.Title = "PoI's";
    int meer = ViewBag.vanaf + 30;
    int minder = 0;
    if (ViewBag.vanaf == 0)
    {
        minder = 0;
    }
    else
    {
        minder = ViewBag.vanaf - 30;
    }
    int desc = ViewBag.desc;
}
<div class="col-xs-12 col-md-12 nav">
    <a href="../Admin">&lt;&lt; Terug naar overzicht</a>
</div>
<div class="adminList col-xs-12 col-md-12 content" id="content">
    <h2>Point of Interest's</h2>
    <div class="col-xs-6 col-md-9">
        <span style="font-weight:bold">@ViewBag.vanaf - @meer</span>
    </div>
    <div id="buttonsAdBoven">
        <span style="font-weight:bold">@ViewBag.vanaf - @meer</span>
        <button onclick="location.href='../Admin/Pois?vanaf=@minder&desc=@desc'"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button onclick="location.href='../Admin/Pois?vanaf=@meer&desc=@desc'"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
        <!--<button><span class="glyphicon glyphicon-pencil"></span> Bewerken</button>-->
        <input type="text" placeholder="Zoeken" id="Zoeken" />
    </div>
    <form id="formA" action="DeletePoi" method="post">
        <table class="AdminTable table table-hover">
            <colgroup>
                <col class="col-lg-1 col-xs-1 col-md-1" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-2 col-xs-2 col-md-2" />
                <col class="col-lg-1 col-xs-2 col-md-2" />
                <col class="col-lg-3 col-xs-2 col-md-2" />
                <col class="col-lg-1 col-xs-1 col-md-1" />
            </colgroup>
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-th-list"></span></th>
                    <th><span>Naam</span></th>
                    <th><span>Mail</span></th>
                    <th><span>Adres</span></th>
                    <th><span>Telefoon Nr.</span></th>
                    <th><span>Tags</span></th>
                    <th><span>Opties</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pooi in Model)
                {
                    <tr>
                        <td>
                            <input form="formA" name="PoisToDelete" value="@pooi.ID" type="checkbox" />
                        </td>
                        <td>@pooi.Naam</td>
                        <td>@pooi.Eigenaar.UserName</td>
                        <td> @pooi.Straat @pooi.Nummer , @pooi.Postcode @pooi.Gemeente</td>
                        <td>@pooi.Telefoon</td>
                        <td>
                            @foreach (var tag in pooi.Tags)
                            {
                                if (tag.Equals(pooi.Tags.Last()))
                                {
                                    <span class="tag">@tag.Tag.Naam</span>
                                }
                                else
                                {
                                    <span class="tag">@tag.Tag.Naam</span>

                                }
                            }
                                        
                                    </td>
                                    <td>
                                        <div class="displayInlineButtons">
                                            <button><span class="glyphicon glyphicon-remove"></span></button>
                                        </div>
                                    </td>
                                </tr>
                }
            </tbody>
        </table>
    </form>
    <div id="buttonsAdOnder">
        <button onclick="location.href='../Admin/Pois?vanaf=@minder&desc=@desc'"><span class="glyphicon glyphicon-chevron-left"></span> Vorige Pag.</button>
        <button onclick="location.href='../Admin/Pois?vanaf=@meer&desc=@desc'"><span class="glyphicon glyphicon-chevron-right"></span> Volgende Pag.</button>
        <button><span class="glyphicon glyphicon-remove-circle"></span> Verwijderen</button>
    </div>
</div>
<script src="~/Content/js/ZoekScript.js"></script>
<script type="text/javascript" src="~/Content/js/adminformscript.js"></script>
