@model Models.OmgevingsBoek_Models.Vraag

@{
    ViewBag.Title = "Helpdesk vraag stellen";
}



<div class="col-xs-12 content" id="content">
    <h2>Helpdesk</h2>
    @using (Html.BeginForm("PostVraag", "HelpDesk"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Nieuwe vraag</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group col-md-10">
                @Html.LabelFor(model => model.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Titel, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Titel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-md-10">
                @Html.LabelFor(model => model.Omschrhijving, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.Omschrhijving, 15, 1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Omschrhijving, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group col-md-10">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Verstuur" class="btn btn-success form-control submit" />
                </div>
            </div>
        </div>
    }

    <div class="form-horizontal col-md-10">
        <h2>Open vragen</h2>
        <hr />
        <label class="control-label col-md-2"></label>
        <div class="col-md-10">
            @{int count = 0;}
            @foreach (Models.OmgevingsBoek_Models.Vraag vraag in ViewBag.vragen)
            {
                count++;
                <div class="panel panel-default">
                    <a data-toggle="collapse" data-target="#@count">
                        <div class="panel-heading">
                            <h3 class="panel-title">@vraag.Titel</h3>

                        </div>
                    </a>
                    <div class="panel-body collapse" id="@count">
                        @vraag.Omschrhijving
                    </div>
                </div>
            }
        </div>
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
<script>

</script>