<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Omgevingsboek</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
    <script src="/Scripts/locationpicker.jquery.js"></script>
    <link rel="shortcut icon" href="~/Content/img/favicon.ico" />
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Omgevingsboek", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @if (User.Identity.Name != "")
                {
                    <ol class="breadcrumb" style="
                        width: auto;
                        margin-top: 8px;
                        margin-bottom: 8px;
                        padding-right: 4px;
                        padding-top: 4px;
                        padding-bottom: 4px;
                        float: left;
                        display: inline-block;
                    ">
                        @if (ViewBag.stap1 != null)
                        {
                        <li><a href="../@ViewBag.url1">@ViewBag.stap1</a></li>
                        }
                        @if (ViewBag.stap2 != null)
                        {
                            if (ViewBag.stap3 != null)
                            {
                                <li><a href="../@ViewBag.url1@ViewBag.url2">@ViewBag.stap2</a></li>

                                <li><a href="../@ViewBag.url3">@ViewBag.stap3</a></li>
                            }
                            else
                            {
                                <li><a href="@ViewBag.url1@ViewBag.url2">@ViewBag.stap2</a></li>
                            }
                        }

                        <li class="active">
                            <span class="glyphicon glyphicon-search"></span>
                            <input type="text" id="searchMainElements" class="form-control" style="
                                width: auto;
                                display: inline-block;
                                height: 28px;
                                padding: 0px 0px;
                            ">
                        </li>
                    </ol>
                    <div class="breadcrumb" style="width: auto; margin-top: 8px; margin-bottom: 8px; height: 36px; margin-left: 5px; float: left; display: inline-block; padding: 0px;">
                        <a style="padding: 0px;" href="#" data-container="body" data-toggle="popover" data-placement="bottom" class="shareItem">
                            <span class="glyphicon glyphicon-share" style="font-size: 1.2em; padding: 8px 9px;"></span>
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="username"><a href="~/Home/Gebruiker?gebruikerId=@User.Identity.Name">@User.Identity.Name <span class="glyphicon glyphicon-user"></span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-cog"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@Url.Action("Helpdesk","Home")">Helpdesk</a></li>
                                <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                                <!--alleen voor beheerders maken-->
                                @if (User.IsInRole("Administrator") || User.IsInRole("SuperAdministrator"))
                                {
                                    <li class="divider"></li>
                                    <li>@Html.ActionLink("Beheer", "Index", "Admin")</li>
                                }
                                <li class="divider"></li>
                                <li>@Html.ActionLink("Afmelden", "LogOff", "Account")</li>
                            </ul>
                        </li>
                    </ul>
                }
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid main">
        <div class="row">
            @RenderBody()
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - Howest NMCT Omgevingsboek</p>
        </footer>
    </div>
    <div id="share_item_wrapper" style="visibility:hidden;">
        <div class="input-group">
            <span class="input-group-addon tag"><span class="glyphicon glyphicon-user"></span></span>
            <input class="form-control" type="text" id="us2-address" />
        </div>
        <div class="people"></div>
    </div>

    <script src="~/Content/js/shareItem.js"></script>

</body>
</html>
